<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>Mon super site de gossip, depuis le dossier views</h1>
        <p>Bienvenu dans le site, la liste des potins arrive bientôt
        le temps que cette dernière puisse arriver<br>
        vous pouvez <a href="/gossips/new/">aller créer un nouveau potin</a></p>
    </body>
</html>